body.datasette-vega-demo {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}


body.datasette-vega-demo form div {
  margin-bottom: 0.5em
}

body.datasette-vega-demo label {
  padding-right: 0.5em;
}
